*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    transition: all 0.2s linear;
    list-style: none;
    font-family: 'Nunito', sans-serif;
    text-transform: capitalize;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
    overflow-x: hidden;
}
:root{
    --black: #2c2c54;
    --orange: #ff9f1a;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid var(--black);
    border-radius: 6px;
    font-size: 16px;
    color: var(--black);
    cursor: pointer;
}
.btn:hover{
    background-color: var(--orange);
    color: #fff;
}
header{
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 20px 120px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    font-size: 30px;
    font-weight: 500;
    color: var(--orange);
}
.menu .menu-list{
    display: inline-block;
    position: relative;
}
.menu .menu-list > .menu-item{
    display: inline-block;
    padding: 0 25px;
}
.menu .menu-list .menu-item a{
    font-size: 20px;
    color: var(--black);
}
.menu .menu-list .menu-item a:hover{
    color: var(--orange);
}
.options a{
    font-size: 20px;
    padding: 0 10px;
    color: var(--black);
}
.options a:hover{
    color: var(--orange);
}
.banner{
    padding: 0;
    position: relative;
}
.banner .slider-container .slider{
    padding: 0 100px;
    padding-top: 90px;
    gap: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.banner .slider-container .slider .slider-content{
    flex: 1 1 400px;
}
.banner .slider-container .slider .slider-image{
    flex: 1 1 500px;
    padding-top: 150px;
    position: relative;
    z-index: 0;
}
.banner .slider-container .slider .slider-image .shoe{
    width: 100%;
}
.banner .slider-container .slider .slider-image .text{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}
.banner .slider-container .slider .slider-content h3{
    font-size: 20px;
    color: var(--black)
}
.banner .slider-container .slider .slider-content h1{
    font-size: 50px;
    color: var(--orange);
}
.banner .slider-container .slider .slider-content p{
    font-size: 18px;
    letter-spacing: 1.5;
    color: var(--black);
}
.banner .slider-container .slider .slider-content .btn{
    margin-top: 10px;
}
.banner .slider-container:nth-child(1){
    background-image: url(../images/home-bg-1.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
.banner .slider-container:nth-child(2){
    background-image: url(../images/home-bg-2.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
.banner .slider-container:nth-child(3){
    background-image: url(../images/home-bg-3.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
#prev,#next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    line-height: 45px;
    border-radius: 50%;
    border: 2px solid var(--black);
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
#prev:hover,#next:hover{
    background: var(--orange);
    color: #fff;
}
#next{
    right: 30px;
}
#prev{
    left: 30px;
}
#menu-bar{
    font-size: 20px;
    border: 1px solid var(--black);
    padding: 4px;
    border-radius: 4px;
    display: none;
}

@media (max-width: 768px) {
    #menu-bar{
        display: block;
        position: relative;
    }
    .menu .menu-list{
        position: absolute;
        display: block;
        top: 100%;
        left: 0;
        background: var(--orange);
        padding: 10px 20px;
        width: 200px;
       
    }
    .menu .menu-list .menu-item{
        display: block;
        padding: 20px 0;
    }
    .menu .menu-list .menu-item a{
        text-align: left;
    }
}